@import "common/style/index.scss";
///////////////////////////////////////
.NavigationHeader {
	padding: 10px;
	font-size: 30px;
	text-align: left;
	background-color: $antiBackground;
	color: $antiColor;
	border-bottom: 1px solid $antiBorder;
}
.NavigationButton {
	background-color: white;
	font-size: 30px;
	cursor: pointer;
	border-right: 1px solid $antiBorder;
	border-bottom: 1px solid $antiBorder;
}
.NavigationButton:hover {
	background-color: $selectedBackground;
}
///////////////////////////////////////
.NavigationSectionList {
	max-width: auto;
	min-width: 180px;
	background-color: white;
	margin-right: 15px;
	margin-bottom: 10px;
	z-index: 1000;
}
.NavigationSection {
	display: block;
	cursor: pointer;
}
.NavigationSection:hover {
	//background-color: $selectedBackground;
}
.NavigationLink {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.NavigationLink:hover {
	background-color: $selectedBackground;
}
///////////////////////////////////////
.NavigationTop {
	width: 100%;
}
///////////////////////////////////////
.NavigationBar a:link,
.NavigationBar a:visited {
  text-decoration: inherit;
  color: inherit;
}
.NavigationBar.isSelected .NavigationButton {
	// background-color: $selectedBackground;
	color: $selectedColor;
}
///////////////////////////////////////
@media screen and (max-width: 576px) {
	.NavigationSectionList {
		position: absolute;
		left: 0;
		transition: left 0.4s linear;
		border-top: 0px;
		border-left: 0px;
	}
	.NavigationSectionList.navigation-responsive-hide {
		left: -190px;
	}
	.NavigationSection {
		background-color: white;
		z-index: 1000;
	}
	.NavigationSection:last-child {
		border-bottom: 0px solid $selectedBackground;
	}
	.NavigationBar.isSelected .NavigationButton {

	}
}
///////////////////////////////////////
@media screen and (min-width: 577px) {
	.NavigationSectionList {
		position: relative;
		border-right: 1px solid $antiBorder;
		bottom: 0;
		height: 100%;
	}
}

.NavigationBackground {
	background-color: #333;
	transition: opacity .2s linear;
}

.NavigationSection:hover {

}

.NavigationSection.isSelected .NavigationLink {
	background-color: $selectedBackground;
	color: $selectedColor;
	cursor: default;
}
.NavigationSection.isSelected a {
	
}

.NavigationCaret {
	padding-right: 5px;
	// padding-left: 5px;
}
.NavigationCaret.fa-circle {
	font-size: 6px;
    vertical-align: middle;
    padding-bottom: 2px;
}
.NavigationCaret.fa-caret-right,
.NavigationCaret.fa-caret-down, {
	font-size: 12px;
    vertical-align: middle;
    padding-bottom: 3px;
}
.NavigationSection {
	background-color: #FFFFFF;
}
.NavigationGroup {
	// padding-left: 10px;
}

.NavigationSpace {
	width: 10px;
}

.NavigationLink {
	border-bottom: 1px solid $antiBorder;
}

